.main {
  width: 100%;
  height: 100vh;
  background-color: $g-light-blue;
  padding: 54px 0 67px;
  min-height: 836px;
  font-family: $f-f-rubik;

  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }

  &__preview {
    max-width: 644px;
    margin: auto;
  }

  &__image {
    width: 100%;
    margin: 0;

    picture {
      width: 100%;
      display: block;
    }
  }

  &__title {
    color: $c-black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title-h1 {
    margin-bottom: 5px;
    font-family: $f-f-rubik;
    font-weight: 700;
    font-size: 68px;
    line-height: 81px;
  }

  &__title-h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;

    &-text {
      margin-right: 20px;
    }

    &-img {
      height: 36px;

      img {
        height: 100%;
        display: block;
      }
    }
  }

  &__points {
    margin-bottom: 0;
    margin-top: auto;
    display: flex;
    align-items: center;
    column-gap: 25px;
    padding: 0 24px;
  }

  &__points-item {
    display: flex;
    align-items: flex-start;
  }

  &__points-img {
    width: 55px;
    height: 55px;
    margin-right: 10px;
    flex: 0 0 55px;
  }

  &__points-text {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
  }
}
