{% set items = [
    {
        'imgWebp': './images/info-1.webp',
        'imgSrc': './images/info-1.jpg',
        'title': 'Центр умного дома',
        'texts': [
        {
            'text': 'Центр умного дома координирует работу всех устройств Aqara. В линейке Aqara
существует 3 разных центра умного дома, которые отличаются дополнительным функционалом:'
        },
        {
            'title': 'Aqara Hub M1S',
            'text': 'Обладает самым мощным встроенным динамиком, который можно использовать в качестве дверного звонка или сирены.'
        },
        {
            'title': 'Aqara Camera Hub ',
            'text': 'Современная камера высокого разрешения с возможностью ночной съёмки.'
        },
        {
            'title': 'Aqara Hub M2',
            'text': 'Управляет бытовой техникой через встроенный инфракрасный пульт с радиусом действия 360°.'
        }
    ],
        'cards': [
        {
            'img': {
            'webp':'./images/home-1.webp',
            'src': './images/home-1.png'
        },
            'title': 'IP-камера Aqara Camera Hub G2H [в помещении, потолочная, 1920x1080, CMOS, 2
.1 Мп, H.264, Wi-Fi, ночная съемка, датчик движения, ИК подсветка]',
            'price': '5 999',
            'link': 'ыаываыва'
        },
        {
            'img': {
            'webp':'./images/home-2.webp',
            'src': './images/home-2.png'
        },
            'title': 'Центр управления умным домом Aqara Hub HM1S-G01 Wi-Fi+Zigbee, белый',
            'price': '3 699',
            'link': 'ыаываыва'
        },
        {
            'img': {
            'webp':'./images/home-3.webp',
            'src': './images/home-3.png'
        },
            'title': 'Центр управления умным домом Aqara Hub M2 (HM2-G01) [Wi-Fi+Zigbee] Черный ',
            'price': '4 199',
            'link': 'ыаываыва'
        }
    ]
    },
    {
        'imgWebp': './images/info-1.webp',
        'imgSrc': './images/info-1.jpg',
        'title': 'Устройства для управления светом',
        'texts': [
        {
            'text': 'Теперь сделать всё освещение в доме умным действительно легко. Просто замените обычные выключатели на выключатели Aqara и управляйте освещением удалённо через приложение Aqara Home или при помощи автоматических сценариев.'
        },
        {
            'text': 'Беспроводные выключатели удаленно управляют светом и бытовыми приборами. Их можно положить на горизонтальную поверхность или наклеить на стену с помощью стикера из комплекта.'
        },
        {
            'text': 'Умные реле помогут превратить ваш обычный выключатель в умный'
        }
    ],
        'cards': [
        {
            'img': {
            'webp':'./images/light-1.webp',
            'src': './images/light-1.png'
        },
            'title': 'Выключатель Aqara H1 EU WS-EUK04 [2405 МГц, Zigbee]',
            'price': '3 999',
            'link': 'ыаываыва'
        },
        {
            'img': {
            'webp':'./images/light-2.webp',
            'src': './images/light-2.png'
        },
            'title': 'Реле Aqara 2 way relay module LLKZMK11LM [со смартфона, 2.5 кВт, 100 - 250 В, ZigBee]',
            'price': '2 499',
            'link': 'ыаываыва'
        },
        {
            'img': {
            'webp':'./images/light-3.webp',
            'src': './images/light-3.png'
        },
            'title': 'Выключатель Aqara WRS-R02 [3 В, Zigbee]',
            'price': '2 099',
            'link': 'ыаываыва'
        }
    ]
    },
    {
        'imgWebp': './images/info-1.webp',
        'imgSrc': './images/info-1.jpg',
        'title': 'Датчики',
        'texts': [
        {
            'text': 'Датчики Aqara помогают сделать Ваш дом понастоящему умным. Датчики могут
                 зафиксировать: протечку воды, температуру, открытие дверей, движение в комнате, разбитие окна. Настройте автоматические сценарии основанные на показаниях датчиков. Например, включайте обогреватель если в комнате температура снизилась или управляйте освещением при обнаружении движения.Датчики крепятся на любую поверхность при помощи специального стикера. Срок автономной работы датчика без смены батареи - до 2х лет.'
        }
    ],
        'cards': [
        {
            'img': {
            'webp':'./images/sensor-1.webp',
            'src': './images/sensor-1.png'
        },
            'title': 'Датчик температуры и влажности AQARA TVOC AAQS-S01',
            'price': '4 499',
            'link': 'ыаываыва'
        },
        {
            'img': {
            'webp':'./images/sensor-2.webp',
            'src': './images/sensor-2.png'
        },
            'title': 'Датчик протечки AQARA SJCGQ11LM [беспроводной, для сигнализаций Aqara Hub, питание - 3 В]',
            'price': '1 750',
            'link': 'ыаываыва'
        },
        {
            'img': {
            'webp':'./images/sensor-3.webp',
            'src': './images/sensor-3.png'
        },
            'title': 'Датчик движения AQARA RTCGQ11LM [беспроводной, для сигнализаций Aqara Hub, питание - 3 В]',
            'price': '1 499',
            'link': 'ыаываыва'
        }
    ]
    },
    {
        'imgWebp': './images/info-1.webp',
        'imgSrc': './images/info-1.jpg',
        'title': 'Умные шторы',
        'texts': [
        {
            'text': 'Умные раздвижные шторы откроются в заданное время, что делает пробуждение более легким. А также закроются, когда выключится свет.'
        },
        {
            'text': 'Для открытия или закрытия штор вручную достаточно слегка потянуть штору в сторону, и мотор сам откроет или закроет её.'
        },
        {
            'text': 'Умные рулонные шторы помогут полностью или частично заблокировать попадание солнечного света в комнату.'
        }
    ],
        'cards': [
        {
            'img': {
            'webp':'./images/curtains-1.webp',
            'src': './images/curtains-1.png'
        },
            'title': 'Мотор для раздвижных штор Aqara Curtain motor ZNCLDJ11LM белый [управление со смартфона, радиус 10 м, 110-240 В]',
            'price': '10 699',
            'link': 'ыаываыва'
        },
        {
            'img': {
            'webp':'./images/curtains-2.webp',
            'src': './images/curtains-2.png'
        },
            'title': 'Модуль управления шторами Aqara ТК1833 белый',
            'price': '6 999',
            'link': 'ыаываыва'
        },
        {
            'img': {
            'webp':'./images/curtains-3.webp',
            'src': './images/curtains-3.png'
        },
            'title': 'Мотор для рулонных штор Aqara Roller Shade Driver E1 RSD-M01 белый [управление со смартфона, голосовое управление, аккумулятор]',
            'price': '5 999',
            'link': 'ыаываыва'
        }
    ]
    }
] %}

<section class="info">
    <div class="wrapper">
        <h2>Умные устройства <br> для любых задач</h2>
        {% for item in items %}
            <div class="info__item">
                <div class="info__banner">
                    <div class="info__banner-img">
                        <picture>
                            <source srcset="{{ item.imgWebp }}" type="image/webp">
                            <img src="{{ item.imgSrc }}" alt="">
                        </picture>
                    </div>
                    <div class="info__banner-text">
                        <h3>{{ item.title }}</h3>
                        {% for text in item.texts %}
                            {% if text.title %}
                                <h4>{{ text.title }}</h4>
                            {% endif %}
                            <p>{{ text.text }}</p>
                        {% endfor %}
                    </div>
                </div>

                <div class="info__products">
                    {% for card in item.cards %}
                        <div class="card">
                            <div class="card__img">
                                <picture>
                                    <source srcset="{{ card.img.webp }}" type="image/webp">
                                    <img src="{{ card.img.src }}" alt="">
                                </picture>
                            </div>
                            <div class="card__info">
                                <div class="card__title">{{ card.title }}</div>

                                <div class="card__info-footer">
                                    <div class="card__price">{{ card.price }} ₽</div>

                                    <a href="{{ card.link }}" class="card__link button"
                                       target="_blank">Купить</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        <div class="info__button">
            <a href="" class="button">Каталог Aqara</a>
        </div>
    </div>
</section>
