@import 'card';

.info {
  padding-top: 112px;
  padding-bottom: 228px;

  h2 {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 48px;
    line-height: 57px;
  }

  &__item {
    margin-bottom: 144px;
  }

  &__banner {
    display: flex;
    column-gap: 25px;
    margin-bottom: 49px;
  }

  &__banner-img {
    width: 100%;
    flex: 1 1 auto;
  }

  &__banner-text {
    flex: 0 0 454px;
    max-width: 454px;
    color: $c-black;
    font-family: $f-f-roboto;

    h3 {
      font-family: $f-f-rubik;
      font-weight: 500;
      font-size: 36px;
      line-height: 43px;
      margin-bottom: 13px;
    }

    h4 {
      font-weight: 700;
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 0;
    }

    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 21px;
    }
  }

  &__products {
    display: flex;
    align-items: stretch;
    column-gap: 52px;
    padding: 0 41px;

    .card {
      flex: 1 1 100%;
    }

    @media (max-width: 1440px) {
      padding: 0;
    }
  }

  &__button {
    display: flex;
    justify-content: center;

    .button {
      width: 269px;
      font-weight: 400;
      padding: 20px;
      font-size: 20px;
      line-height: 26px;
    }
  }

  &__description {
    padding-top: 64px;
  }

  @media (max-width: 1124px) {
    padding: 64px 0 120px;

    &__item {
      margin-bottom: 64px;
      margin-left: -16px;
      margin-right: -16px;
      padding-left: 16px;
      padding-right: 16px;
    }

    h2 {
      font-size: 40px;
      line-height: 56px;

      br {
        display: none;
      }
    }

    &__products {
      padding-left: 16px;
      padding-right: 16px;
      margin-left: -16px;
      margin-right: -16px;
      column-gap: 16px;
      overflow: auto;
      -ms-overflow-style: none;  /* IE и Edge */
      scrollbar-width: none;  /* Firefox */

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &__banner {
      position: relative;
      border-radius: 16px;
      padding: 16px;
      overflow: hidden;
    }

    &__banner-img {
      position: absolute;
      z-index: 1;
      opacity: 0.4;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;

      picture {
        width: 100%;
      }

      img {
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: cover;
      }
    }

    &__banner-text {
      position: relative;
      z-index: 2;
      max-width: 100%;

      h3 {
        font-size: 32px;
        line-height: 40px;
      }

      p {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 20px;
      }

      h4 {
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
}
