$f-f-roboto: 'Roboto', sans-serif;
$f-f-rubik: 'Rubik', sans-serif;

$m-w-wrapper: 1440px;
$p-wrapper: 0 60px;

$c-black:  #1C1E28;
$c-dark-blue: #2C3250;
$c-light-blue: #536687;
$c-white: #ffffff;
$c-light-gray: #EDEFF3;

$g-orange: linear-gradient(0deg, #FC8507 0%, #FFA218 99.99%);
$g-orange-hover: linear-gradient(0deg, #FC8507 0%, #FFB018 99.99%);
$g-blue: linear-gradient(252.5deg, #4561C2 12.51%, #333276 96.1%);
$g-light-blue: linear-gradient(0deg, #EDEFF3, #EDEFF3), #C4C4C4;

$b-c-light: #E5E5E5;
$b-c-main: #F6F6F6;
